:root {
    --default-border: 1px solid black;
}

body {
    background-color: rgb(236, 236, 236);
}

h1 {
    text-align: center;
    font-size: 3rem;
}

main {
    display: flex;
}

.btn-container {
    display: flex;
    flex-direction: column;
    margin: auto -15em auto auto;
    width: 15em;
    height: 46em;
    border: var(--default-border);
}

.btn {
    margin: 1.2em 2.5em;
    font-size: 1rem;
    cursor: pointer;
}

#colorPicker {
    padding: 0;
    margin: 1.2em 2.5em;
    width: 5.5em;
    height: 5.5em;
    align-self: center;
    cursor: pointer;
    border: none;
    outline: none;
}

.grid-display {
    margin: 1em auto;
    font-size: 1.3rem;
}

.draw-board {
    display: grid;
    margin: auto;
    width: 720px;
    height: 720px;
    border: var(--default-border);
}

/* .pixel {
    border: var(--default-border);
} */

.active {
    border: 5px solid green;
}

footer {
    margin-top: 2em;
    text-align: center;
}